* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: sans-serif;
  background-color: rgb(250, 116, 6);
  background-size: 100vw 100vh;
  background-attachment: fixed;
}
.formulario {
  width: 1000px;
  max-width: 100%;
  margin: auto;
  margin-top: 30px;
  padding: 20px;
  box-shadow: 0 0 20px 1px rgb(248, 135, 29);
  position: relative;
  background: rgb(26, 24, 24);
}

.imgLogo {
  width: 100px;
  height: 100px;
  border-radius: 150px;
  display: block;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  border: 1px solid rgba(19, 18, 18, 0.7);
}

.formulario__titulo,
.formulario__subtitulo,
.formulario__parrafo {
  text-align: center;
  margin-top: 0;
}
.formulario__titulo,
.formulario__subtitulo {
  color: rgba(255, 169, 10, 0.993);
}
.formulario__parrafo {
  color: rgb(255, 181, 21);
}
.formulario__input,
.formulario__label {
  display: block;
  width: 100%;
  font-size: 1, 3em;
}
.formulario__input {
  padding: 10px;
  background: transparent;
  background: rgb(255, 143, 14);
  border: 1px solid rgb(255, 142, 13);
  margin-bottom: 15px;
  border-radius: 10px;
}
.formulario__input:focus {
  outline: 1px solid rgb(255, 252, 252);
  outline: none;
  box-shadow: 0px 0px 2px rgb(251, 251, 251);
}

.formulario__label {
  padding-left: 15px;

  color: rgb(250, 145, 26);
  margin: 2px;
}
.formulario__submit {
  background: rgb(250, 118, 9);
  color: rgb(255, 250, 246);
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  display: block;
  width: 50%;
  font-size: 1, 3em;
  


}

/*Centrar los campos del formulario (Los input y el boton de Enviar al WhatsApp, que tambien es un input)*/

.formulario__input,
.formulario__submit {
  margin-left: auto;
  margin-right: auto;
}

fijar {
    margin-top: -120px;
} 

#respuesta {
  width: 100%;
  height: 50px;
  margin: 5px;
  padding: 5px;
}
#respuesta.fail {
  color: red;
}
#respuesta.send {
  color: rgb(255, 30, 0);
}
